.header {
  background: #84888c;

  &-wrap {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 20px 10px;

    h1 {
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 38px;
    }

    button {
      margin-top: 10px;
    }
  }

  ::ng-deep .modal-container .modal-box {
    height: 400px !important;
  }
}
