<app-modal
  *ngIf="showPlayerModal"
  (closeEvent)="showModal = false; initializeGame()"
  headerText="Chose player options"
>
  <div class="btn-container">
    <button class="btn-primary" (click)="enableSinglePlayer()">
      Single Player
    </button>
    <button class="btn-primary" (click)="enableMultiPlayer()">
      Two Player
    </button>
  </div>
</app-modal>

<div>
  <app-header></app-header>
  <div class="content-wrap" *ngIf="!showPlayerModal">
    <div>
      <app-score-card
        [ngClass]="{ hidden: isSinglePlayer }"
        [isSelected]="isPlayer1"
        playerName="Player 1"
        [score]="player1Score"
      ></app-score-card>
    </div>
    <div class="grid">
      <app-display-card
        *ngFor="let card of cards; let idx = index"
        [card]="card"
        (selectedCard)="selectedCard(idx)"
        [cardFlipped]="card.state != 'default'"
        [allowFlip]="flippedCards.length < 2"
      ></app-display-card>
    </div>
    <app-score-card
      [ngClass]="{ hidden: isSinglePlayer }"
      [isSelected]="!isPlayer1"
      playerName="Player 2"
      [score]="player2Score"
    ></app-score-card>
  </div>
</div>

<app-modal
  *ngIf="showModal"
  (closeEvent)="showModal = false; showPlayerModal = true"
  headerText="Congratulations!"
  [bodyText]="winnerText"
  buttonText="Restart game"
>
</app-modal>
